* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
}

div {
    width: fit-content;
}

video {
    max-height: 161px;
}
/* 424 × 570 */